@import 'styles/var'
.faqs
	.faqItem
		&:last-of-type
			margin-bottom: 0
.faqItem
	border: 1px solid rgba(224, 224, 224, 0.4)
	border-radius: 16px
	margin-bottom: 23px
	cursor: pointer
	@include breakpoint (xs)
		margin-bottom: 16px
	&__cont
		display: none
		color: #676767
		font-size: 16px
		padding-left: 26px
		padding-right: 21px
		line-height: 29px
		padding-bottom: 24px
		@include breakpoint (xs)
			padding-left: 15px
			padding-right: 15px
	&__top
		display: flex
		justify-content: space-between
		align-items: center
		padding-left: 26px
		padding-right: 21px
		height: 72px
		@include breakpoint (xs)
			height: auto
			padding: 15px
	&__title
		font-weight: 600
		font-size: 19px
		line-height: 33px
		@include breakpoint (xs)
			font-weight: 500
			font-size: 18px
			line-height: 27px
	&__ico
		width: 32px
		height: 32px
		display: flex
		transition: .3s
		align-items: center
		justify-content: center
	&.act
		background: #F9F9F9
		.faqItem__ico
			transform: rotate(180deg)
		.faqItem__cont
			display: block