.pay {
    max-width: calc(100% - 20px);
    margin-left: 10px;
    margin-right: 10px;

    &__title {
        font-weight: 600;
        font-size: 36px;
        line-height: 150%;
        color: #212121;
        margin: 0 0 40px 0;
    }

    &__body {
        display: flex;
        gap: 100px;
    }
}

.form {
    width: 423px;
    font-weight: 700;
    font-size: 18px;
    line-height: 160%;
    color: #212121;

    &__submit {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 100%;
        height: 52px;
        background: #FF772D;
        border-radius: 16px;
        color: #FFFFFF;
        font-size: 18px;
        font-weight: 600;
        line-height: 24px;
        border: none;
        outline: none;
        cursor: pointer;

        &:not(:disabled):hover {
            box-shadow: 0px 12px 40px rgba(255, 119, 45, 0.2);
        }

        &:disabled {
            background: #E0E0E0;
            cursor: auto;
        }
    }

    &__msg {
        display: flex;
        margin-top: 24px;
        align-items: center;
        padding: 8px 16px;
        gap: 12px;
        width: 100%;
        background: rgba(39, 174, 96, 0.1);
        border-radius: 16px;
        color: #27AE60;
        font-weight: 400;
        font-size: 18px;
        line-height: 160%;
    }

    label {
        position: relative;
        margin-bottom: 24px;
        display: block;

        input {
            display: block;
            padding: 14px 16px;
            width: 100%;
            height: 52px;
            border: 1px solid #E0E0E0;
            border-radius: 16px;
            margin-top: 16px;
            font-weight: 400;
            font-size: 18px;
            line-height: 160%;
            outline: none;

            &::placeholder {
                color: #B0B0B0;
            }
        }

        button {
            position: absolute;
            top: 63.25px;
            right: 18.25px;
            cursor: pointer;
        }
    }

    &__warning {
        display: block;
        margin-top: 8px;
        color: #676767;
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
        color: #B0B0B0;
    }

    &__error {
        align-items: center;
        display: flex;
        font-weight: 400;
        font-size: 18px;
        line-height: 160%;
        border-radius: 16px;
        margin-top: 24px;
        min-height: 45px;
        padding: 8px 16px;
        gap: 12px;
        background: rgba(235, 87, 87, 0.1);
        color: #EB5757;
    }

    &__method {
        margin-bottom: 24px;

        .methodButton,
        .methodButton__act {
            display: flex;
            width: 100%;
            align-items: center;
            padding: 11px;
            gap: 20px;
            background: #F9F9F9;
            border-radius: 16px;
            font-weight: 400;
            font-size: 18px;
            line-height: 160%;
            margin-bottom: 12px;
        }

        .methodButton {
            border: 1px solid #F9F9F9;
            color: #212121;
        }

        .methodButton__act {
            border: 1px solid #FF772D;
            color: #FF772D;
        }
    }
}

.zakaz {
    background: #FFFFFF;
    box-shadow: 0px 4px 35px 12px rgba(0, 0, 0, 0.04);
    border-radius: 16px;
    padding: 24px;
    width: 510px;
    align-self: flex-start;

    &__body {
        display: flex;
        font-weight: 400;
        font-size: 18px;
        line-height: 160%;
        margin-bottom: 24px;
        gap: 8px;

        &_title,
        &_body {
            display: flex;
            gap: 8px;
            flex-direction: column;
        }

        &_title {
            color: #676767;
        }

        &_body {
            color: #6D6D6D;
        }
    }

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #FF772D;
        line-height: 160%;
        font-weight: 400;
        margin-bottom: 12px;

        &_tarif {
            font-size: 18px;
            height: 28px;
        }

        &_label {
            display: flex;
            align-items: center;
            padding: 0 12px;
            height: 28px;
            background: rgba(255, 119, 45, 0.1);
            border-radius: 62px;
        }
    }

    &__tarif {
        display: flex;
        align-items: center;
        gap: 20px;
        font-weight: 600;
        font-size: 24px;
        line-height: 150%;
        color: #212121;
        margin-bottom: 20px;

        img {
            width: 32px;
            height: 32px;
        }
    }

    &__midlle {
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
        margin-bottom: 20px;

        &_item {
            display: flex;
            gap: 6px;
            align-items: center;
            border: 1px solid #E0E0E0;
            border-radius: 12px;
            padding: 10px 12px;
            color: #212121;
            font-weight: 700;
            font-size: 18px;
            line-height: 160%;
        }
    }

    &__change {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
        width: 215px;
        height: 52px;
        background: rgba(255, 119, 45, 0.1);
        border-radius: 16px;
        color: #FF772D;
        font-weight: 400;
        font-size: 18px;
        line-height: 160%;
    }
}