@import 'var'
@import 'incl'
.section1
	&__wr
		padding: 32px
		box-shadow: 0px 4px 35px 12px rgba(0, 0, 0, 0.04)
		border-radius: 32px
	&__wrap
		display: flex
		justify-content: space-between
.section
	padding-top: 143px
	&__h2
		font-weight: 600
		font-size: 36px
		line-height: 54px
		font-family: $font1
		display: flex
		align-items: center
		height: 54px
		margin-bottom: 35px
		img
			mix-blend-mode: multiply
.section1Items
	display: flex
	flex-direction: column
	max-width: 544px
	width: 100%
	&__steps
	&__step1
		margin: 41.5px 75px
		width: 394px
		height: 277px
		background: url(/img/design/people.svg) no-repeat right bottom
	&__wr
		display: flex
		flex-wrap: wrap
		.section1Item
			&:nth-child(2n)
				margin-right: 0
	&__wr2
		display: flex
		flex-wrap: wrap
		.section1Item
			&:nth-child(2n)
				margin-right: 0
	&__wr1
		display: flex
		margin-top: auto
		.orangeButtonOrange
			height: 72px
			width: 100%
			margin-left: 0
			&[disabled]
				background: #E0E0E0
				box-shadow: none
				&:hover
					border: 1px solid transparent
					color: #fff
	&__title
		font-size: 16px
		line-height: 29px
		color: #676767
		margin-bottom: 24px
.section1Item
	display: flex
	align-items: center
	width: 260px
	border-radius: 16px
	height: 72px
	background: #F9F9F9
	margin-right: 24px
	margin-bottom: 24px
	padding: 0px 12px
	border: 2px solid transparent
	&:hover
		border: 2px solid $accent
		color: $accent
	&--full
		width: 100%
		margin-right: 0
		margin-bottom: 0
	&__ico
		display: flex
		align-items: center
		margin-right: 20px
	&__txt
		font-weight: 600
		font-size: 18px
		line-height: 24px
.section1Itemstep1
.checkbox_vib
	display: flex
	align-items: center
	border: 2px solid #ccc
	border-radius: 16px
	max-width: 267px
	margin-bottom: 19px
	padding: 5px 0 5px 29px
	cursor: pointer
	&__real
		width: 1px
		height: 1px
		position: absolute
		opacity: 0
		appearance: none
		&:checked
			& + .checkbox_vib__fake
				&:before
					content: ''
					top: 50%
					left: 50%
					transform: translate(-50%,-50%)
					position: absolute
					width: 100%
					height: 100%
	&__fake
		position: relative
		min-width: 30px
		height: 30px
		border-radius: 100%
		border: 2px solid #ccc
	&__title
		display: flex
		align-items: center
		width: 170px
		height: 24px
		margin-left: 10px
	&--check
		.checkbox_vib__real
			&:checked
				& + .checkbox_vib__fake
					border: 2px solid #FF772D
					&:before
						content: ''
						top: 50%
						left: 50%
						background: #FF772D url(/img/design/gal.svg) no-repeat center
						transform: translate(-50%,-50%)
						position: absolute
						width: 100%
						height: 100%
						border-radius: 100%
		.checkbox_vib__fake
			border-radius: 100%
	&--mb0
		margin-bottom: 0
.section2
	overflow: hidden
	padding-bottom: 50px
	&__sliderNav
		display: flex
		align-items: center
		justify-content: space-between
		width: 128px
	.section__h2
		display: flex
		justify-content: space-between
	#slider1
		overflow: visible
.slider1Item
	box-shadow: 0px 4px 35px 12px rgba(0, 0, 0, 0.04)
	border-radius: 16px
	background: #fff
	padding: 16px
	&__wr
		display: flex
		align-items: center
	&__wrap
		display: flex
		flex-direction: column
		align-items: flex-start
	&__title
		font-weight: 600
		font-size: 16px
		line-height: 24px
		margin-bottom: 4px
	&__ico
		width: 46px
		height: 46px
		background: #F9F9F9
		border-radius: 56px
		display: flex
		align-items: center
		justify-content: center
		margin-right: 16px
	.stars
		margin: 0
		&__wr
			width: 70px
			em
				width: 14px
				height: 14px
	&__cont
		padding: 16px 7px 16px 16px
		background: #F9F9F9
		border-radius: 12px
		margin-bottom: 24px
		font-size: 16px
		line-height: 29px
		color: #676767
.section3
	padding-top: 93px
	&__wr
		background: #F9F9F9
		border-radius: 32px
		display: flex
		padding: 83px 64px 0
	&__img
		display: flex
		align-items: center
		position: relative
		top: -47px
		height: 339px
		left: 34px
.skidos
	&__top
		span
			display: flex
			align-items: center
			position: relative
			img
				mix-blend-mode: multiply
			em
				font-style: normal
				background: rgba(255, 119, 45, 0.15)
				border-radius: 55px
				padding: 14px 36px
				font-size: 24px
				line-height: 36px
				font-weight: 700
				color: $accent
				position: absolute
				left: 202px
				top: -16px
	&__text
		margin-top: 40px
		font-size: 16px
		line-height: 29px
		color: #676767
	&__but
		&.orangeButtonOrange
			padding: 19px 39px
			margin-left: 0
			margin-top: 40px
.section4
	img
		mix-blend-mode: multiply
	&__wr
		display: flex
		.preim
			padding: 24px 24px 24px 0
			margin-right: 153px
	&__wr1
		display: flex
		.preim
			min-width: 308px
			padding: 24px
			margin-right: 24px
			background: #F9F9F9			
			&--act
				background: $accent
				box-shadow: 0px 12px 40px rgba(255, 119, 45, 0.2)
				.preim__block
					span
						color: #fff
			&__block
				span
					color: #212121
					font-weight: 700
					font-size: 16px
					line-height: 29px
.section4Item
	display: flex
	overflow: hidden
	align-items: center
	padding: 24px 32px
	background: #fff
	box-shadow: 0px 4px 35px 12px rgba(0, 0, 0, 0.04)
	border-radius: 24px
	margin-bottom: 24px
	&__col
		position: relative
		bottom: -28px
		left: 42px
		margin-right: 169px
		&--t01
			bottom: -31px
			left: 33px
		&--t1
			bottom: -44px
			left: 33px
	&__col1
		display: flex
		align-items: center
		height: 100%
		&--t1
			position: relative
			left: -56px
	&__text
		color: #676767
		font-size: 16px
		line-height: 29px
		max-width: 467px
		margin-left: auto
		width: 100%
	&--fix
		padding: 33px 32px
	&--fix1
		padding: 33px 32px
		margin-bottom: 0
.preim
	padding: 24px
	height: 409px
	display: flex
	border-radius: 24px
	flex-direction: column
	&__block
		margin-top: auto
		height: 236px
		display: flex
		align-items: center
		justify-content: space-between
		flex-direction: column
		span
			font-weight: 700
			white-space: nowrap
			font-size: 16px
			line-height: 29px
	&__promo
		background: #fff
		min-width: 154px
		margin: 0 auto
		font-weight: 700
		font-size: 16px
		justify-content: center
		height: 69px
		display: flex
		align-items: center
		padding: 24.5px 14px
		box-shadow: 0px 4px 35px 12px rgba(0, 0, 0, 0.04)
		border-radius: 16px
.zakaz
	padding: 75px 64px
	overflow: hidden
	display: flex
	height: 336px
	background: #F9F9F9
	border-radius: 32px
	&__title
		display: flex
		align-items: center
		img
			mix-blend-mode: multiply
	&__button
		margin-top: 49px
		button
			margin-left: 0
			padding: 19px 42px
	&__wr
		display: flex
		position: relative
		top: -114px
	&__col
		&:not(.tr)
			margin-right: 119px
	&__microCol
		display: flex
		margin-right: 28px
		flex-direction: column
		animation: 4s linear 0s infinite alternate animating-multiple-properties
		span
			display: flex
			align-items: center
			margin-bottom: 29px
		&--one
			animation: 4s linear 0s infinite alternate animating-multiple-properties1
@keyframes animating-multiple-properties
	from
		transform: translateY(-50%)
	to 
		transform: translateY(50%)
@keyframes animating-multiple-properties1
	from
		transform: translateY(50%)
	to 
		transform: translateY(-50%)
@import "media"